{% extends "base_educacion.html" %}

{% block content %}
        <div class="col-md-8">
                <h1 class="my-4">Cursos <br> <small>Educación financiera</small></h1>
                {% if sin_cursos %}
                <p>{{sin_cursos}}</p>
                {% endif %}
                {% if cursos %}
                    {% for curs in cursos %}
                        <div class="card mb-4">
                            
                            <div class="card-block">
                                <h2 class="card-title">
                                    {{curs.nombre}}
                                </h2>
                                <p class="card-text">
                                    {{curs.descripcion}}
                                </p>
                                <a href="/educacion/cursos/agregar/{{curs.id}}" class="btn btn-success">Agregar curso +</a>
                            </div>
                            
                        </div>
                    {% endfor %}
                {% endif %}
        </div>

  
{% endblock %}