{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mis Cursos</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'educacion/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'educacion/css/blog-home.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- Temporary navbar container fix -->
    <style>
    .navbar-toggler {
        z-index: 1;
    }

    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    </style>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-inverse bg-inverse">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{% static 'landing/img/Logo.png' %}" alt="Trefi" width=74 height=30></a>
            <div class="collapse navbar-collapse" id="navbarExample">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'landing:dashboard' %}"><i class="fa fa-fw fa-dashboard"></i> Mi tracking </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'landing:logout' %}"><i class="fa fa-fw fa-power-off"></i> Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
        <div class="row">

            {% block content %}

            {% endblock %}

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Búsqueda</h5>
                    <form id="search" action="/educacion/busqueda/" method="GET"></form>
                        <div class="card-block">
                            <div class="input-group">
                                <input type="text" name="q" class="form-control" placeholder="Búsqueda...">
                                <span id="btn-search" class="input-group-btn">
                                    <button class="btn btn-secondary" type="button">Ir!</button>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Categorías</h5>
                    <div class="card-block">
                        <div class="row">
                            <div class="col-lg-6">
                                <ul class="list-unstyled mb-0">
                                    {% for key, value in categoria.items %}
                                    <li><a href="/educacion/categoria/{{key}}">{{value}}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Mis cursos</h5>
                    <div class="card-block">
                        <a href="{% url 'educacion:cursos' %}" class="btn btn primary">Ver mis cursos</a>
                        <a href="{% url 'educacion:cursos_agregar' %}" class="btn btn primary">Agregar</a>
                    </div>
                </div>

            </div>

        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-inverse">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Trefi 2017</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'educacion/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'educacion/vendor/tether/tether.min.js' %}"></script>
    <script src="{% static 'educacion/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <script>
        $( "#btn-search" ).click(function() {
            $( "#search" ).submit();
        });
    </script>
</body>

</html>
