{% extends "base_dash.html" %}
{% block title %}
    Mi track
{% endblock title %}

{% block content %}
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Mi tracking personal <small>Resumen de mis finanzas</small>
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Mi tracking
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-rocket fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">ingreso</div>
                                <div>{{saldoIngresos}}</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'tracking:cuentas' %}">
                        <div class="panel-footer">
                            <span class="pull-left">Ver detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-inbox fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">cuentas</div>
                                <div>{{balance}}</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'tracking:cuentas' %}">
                        <div class="panel-footer">
                            <span class="pull-left">Ver detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-shopping-cart fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">gastos</div>
                                <div>{{saldoGastos}}</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'tracking:cuentas' %}">
                        <div class="panel-footer">
                            <span class="pull-left">Ver detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-plane fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">metas</div>
                                <div>{{saldoMetas}}</div>
                            </div>
                        </div>
                    </div>
                    <a href="{% url 'tracking:cuentas' %}">
                        <div class="panel-footer">
                            <span class="pull-left">Ver detalle</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Ingresos y gastos</h3>
                    </div>
                    <div class="panel-body">
                        <div id="morris-area-chart"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-flag fa-fw"></i> Ingresos</h3>
                    </div>
                    <div class="panel-body">
                        <div id="morris-donut-chart"></div>
                        <div class="text-right">
                            <a href="#">Ver detalle <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-shopping-cart fa-fw"></i> Resumen de gastos</h3>
                    </div>
                    <div class="panel-body">
                        <div class="flot-chart">
                            <div class="flot-chart-content" id="flot-pie-chart"></div>
                        </div>
                        <div class="text-right">
                            <a href="#">Ver detalle <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Resumen de transacciones</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>De</th>
                                        <th>A</th>
                                        <th>Cantidad</th>
                                        <th>Fecha</th>
                                        <th>Notas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transaccion in transacciones %}
                                    <tr>
                                        {% for key,value in transdict.items %}
                                            {% if key == transaccion.clase_trans %}
                                                <td>{{value}}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td>{{transaccion.de_cuenta}}</td>
                                        <td>{{transaccion.a_cuenta}}</td>
                                        <td>{{transaccion.cantidad}}</td>
                                        <td>{{transaccion.fecha}}</td>
                                        <td>{{transaccion.notas}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="text-right">
                            <a href="{% url 'tracking:transacciones' %}">Ver todas las transacciones <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
{% endblock content %}

{% block js %}

    {% autoescape off %}
    <script type="text/javascript">
     var data = {{dummy}}


     console.log(data)
    Morris.Area({
        element: 'morris-area-chart',
        data: data,
        xkey: 'periodo',
        ykeys: ['Ingreso', 'Gasto'],
        labels: ['Ingreso', 'Gasto'],
        pointSize: 2,
        hideHover: 'auto',
        resize: true
    });

        // Donut Chart
    Morris.Donut({
        element: 'morris-donut-chart',
        data: {{balancechart}},
        resize: true
    });

    </script>
    {% endautoescape %}

<script>
$(function() {

    var data = [{
        label: "Series 0",
        data: 1
    }, {
        label: "Series 1",
        data: 3
    }, {
        label: "Series 2",
        data: 9
    }, {
        label: "Series 3",
        data: 20
    }];

    var plotObj = $.plot($("#flot-pie-chart"), data, {
        series: {
            pie: {
                show: true
            }
        },
        grid: {
            hoverable: true
        },
        tooltip: true,
        tooltipOpts: {
            content: "%p.0%, %s", // show percentages, rounding to 2 decimal places
            shifts: {
                x: 20,
                y: 0
            },
            defaultTheme: false
        }
    });

});
</script>
{% endblock %}
