{% extends "base_dash.html" %}
{% block title %}
    Mis transacciones
{% endblock title %}

{% block content %}

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Mis transacciones
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-dashboard"></i>  <a href="{% url 'landing:dashboard' %}">Mi tracking</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-money"></i> Mis Transacciones
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Resumen de transacciones</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Tipo</th>
                                        <th>De</th>
                                        <th>A</th>
                                        <th>Cantidad</th>
                                        <th>Fecha</th>
                                        <th>Notas</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transaccion in transacciones %}
                                    <tr>
                                        {% for key,value in transdict.items %}
                                            {% if key == transaccion.clase_trans %}
                                                <td>{{value}}</td>
                                            {% endif %}
                                        {% endfor %}
                                        <td>{{transaccion.de_cuenta}}</td>
                                        <td>{{transaccion.a_cuenta}}</td>
                                        <td>{{transaccion.cantidad}}</td>
                                        <td>{{transaccion.fecha}}</td>
                                        <td>{{transaccion.notas}}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

    </div>
                <!-- /.container-fluid -->
{% endblock content %}
